.blink {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fa-play {
  font-size: xxx-large;

  &:hover, &:focus {
    cursor: pointer;
  }

  &.invisible {
    cursor: default;
  }
}
