<div class="container h-100 d-flex align-items-center justify-content-center">

  <div class="container text-center">
    <div class="row">
      <h1>{{ autoLine1.text | async }}<span [class]="blinkClass" *ngIf="!!(autoLine1.text | async)">_</span></h1>
      <h1>{{ autoLine2.text | async }}<span [class]="blinkClass" *ngIf="!!(autoLine2.text | async)">_</span></h1>
    </div>
    <br/>
    <div class="row">
      <i
        class="fa fa-play"
        aria-hidden="true"
        (click)="run()"
        [class]="playable ? '' : 'invisible'"
        [@playAnimation]="playable ? 'visible' : 'hidden'"
      >
      </i>
    </div>
  </div>

</div>
