// Roboto
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url(assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url(assets/fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url(assets/fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url(assets/fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url(assets/fonts/Roboto/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url(assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url(assets/fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url(assets/fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url(assets/fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype");
}

// Roboto Slab
@font-face {
  font-family: 'Roboto Slab';
  font-weight: 900;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-Black.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 800;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 700;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 600;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 500;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 400;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 300;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 100;
  src: url(assets/fonts/Roboto_Slab/RobotoSlab-Thin.ttf) format("truetype");
}
