/* You can add global styles to this file, and also import other style files */
@import "fonts";

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.8;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
